$primary-color: #56606e;
$secondary-color: #8a909d;
$btn-primary-color: #155dfa;
$btn-secondary-color: #3c7aff;
$white: #fff;
$delete-color: #ff0000;
$edit-color: #008000;
$border-primary-color: #aba9a9;
$border-secondary-color: #1f1f1f;
$search-bg-color: #f7f7f7;
$search-border-color: #f3f3f3;
