.category {
  padding-top: 75px;
  .wrapper {
    display: flex;
    width: 100%;
    .category-main {
      width: 82%;
      padding: 30px;
      margin-left: 250px;
      .main-wrapper {
        display: flex;
        align-items: flex-start;
        .main-left {
          select {
            height: 30px;
            margin-top: 20px;
            outline: none;
            option {
            }
          }
        }
      }
    }
  }
}
