.material {
  padding-top: 75px;
  .wrapper {
    display: flex;
    width: 100%;
    .material-main {
      padding: 30px;
      margin-left: 250px;
      width: 82%;
      .main-wrapper {
        display: flex;
        align-items: flex-start;
      }
    }
  }
}
